<div class="container">
    <div class="container-fluid well">
      <div style="text-align: center; margin-bottom: 30px;"><h3>Edit User</h3></div>
      <form class="form-horizontal" #addUserForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-2" for="userName">Username : </label>
          <div class="col-sm-9 col-md-10">
            <input type="text" class="form-control" id="userName" name="userName" required [(ngModel)]="model.userName" oninput="this.value=this.value.replace(/\s/g, '');">
            <div class="validationText" *ngIf="!isValid.userName"> *Required!</div>
            <div class="validationText" *ngIf="isUserNameUsed"> *Username is already used by someone!</div>
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-2" for="firstName">First Name : </label>
          <div class="col-sm-9 col-md-10">
            <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="model.firstName" oninput="this.value=this.value.replace(/\s/g, '');">
            <div class="validationText" *ngIf="!isValid.firstName"> *Required!</div>
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-2" for="lastName">Last Name : </label>
          <div class="col-sm-9 col-md-10">
            <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="model.lastName" oninput="this.value=this.value.replace(/\s/g, '');">
            <div class="validationText" *ngIf="!isValid.lastName"> *Required!</div>
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-2" for="active">Active : </label>
          <div class="col-sm-9 col-md-10 control-label" style="text-align: left">
            <input type="checkbox" [checked]="model.active" (change)="model.active = !model.active">
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-2" for="password">Password : </label>
          <div class="col-sm-9 col-md-10">
            <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="model.password" oninput="this.value=this.value.replace(/\s/g, '');">
            <div class="validationText" *ngIf="!isValid.password"> *Required!</div>
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-2" for="confirmPassword">Confirm Password : </label>
          <div class="col-sm-9 col-md-10">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required [(ngModel)]="model.confirmPassword" oninput="this.value=this.value.replace(/\s/g, '');">
            <div class="validationText" *ngIf="!isValid.confirmPassword"> *Password not match!</div>
          </div>
        </div>
  
        <div class="form-group well-sm pull-right">
          <button type="button" class="btn btn-default" style="margin-right: 10px" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-success" style="margin-right: 10px">Save</button>
        </div>
      </form>
    </div>
  </div>

  <ng4-loading-spinner></ng4-loading-spinner>
  