.btn-round{
    border-radius: 20px;
    line-height: 1;
    padding: 8px 12px;
}

.circleNonactive{
    float: left;
    background-color: red;
    width: 10px;
    height: 10px;
    margin: 5px 0;
    border-radius: 99px;
}

.circleActive{
    background-color: green;
}