<div class="container">
  <div class="container-fluid" style="padding:10px 0 20px 0">
    <div class="pull-right">
        <a class="btn btn-info btn-round" routerLink="/users/add" routerLinkActive="active" style="margin-left: 10px">Add User</a>
        <button class="btn btn-danger btn-round" (click)="confirmDelete(selectedUsers)" style="margin-left: 10px">Delete Users</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover" style="min-width: 999px">
      <thead>
        <tr>
          <th><input type="checkbox" [checked]="isSelectAll" (change)="toggleSelectAll()"></th>
          <th></th>
          <!-- <th *ngFor="let column of columns">
            {{column.label}}
          </th> -->
          <th>User</th>
          <th>Active</th>
          <th>Last Modified By</th>
          <th>Last Modified Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td><input type="checkbox" [checked]="isSelectAll" (change)="selectUser($event, user)"></td>
          <td><a routerLink="/users/{{user.id}}/edit" routerLinkActive="active">Edit</a></td>
          <!-- <td *ngFor="let column of columns">
            {{user[column.name]}}
          </td> -->
          <td>
            <div>{{user.firstName}} {{user.lastName}}</div>
            <div>{{user.userName}}</div>
          </td>
          <td>
            <div class="circleNonactive" [ngClass]="{circleActive: user.active}">
            </div>
            <div class="pull-left" style="margin-left: 10px; line-height: 20px;">
                <span *ngIf="user.active">Active</span>
                <span *ngIf="!user.active">Non-active</span>
            </div>
          </td>
          <td>{{user.lastModifiedBy}}</td>
          <td>{{user.lastModifiedDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <ul class="pagination pagination">
      <li><a type="button" class="btn" (click)="setCurrentPage(1)">First</a></li>
      <li><a type="button" class="btn" (click)="setCurrentPage(currentPage-1)"><</a></li>
      <li *ngFor="let page of pages" [ngClass]="{active: currentPage===page}">
        <a type="button" class="btn" (click)="setCurrentPage(page)">{{page}}</a>
      </li>
      <li><a type="button" class="btn" (click)="setCurrentPage(currentPage+1)">></a></li>
      <li><a type="button" class="btn" (click)="setCurrentPage(maxPage)">Last</a></li>
    </ul>
    <div class="pull-right" style="width: 150px; margin: 20px 0;">
      <div style="float:right">
        <select [(ngModel)]="selectedLimit" class="form-control" id="limit" (ngModelChange)="setLimit(selectedLimit)">
          <option *ngFor="let limit of limits " [attr.value]="limit">{{limit}}</option>
        </select>
      </div>
      <label style="float:right; margin-right: 10px; line-height: 36px;">Show :</label>
    </div>
  </div>
</div>