input[type=number] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.spinner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.25);
  color: #db1d3c;
  .spinner-center {
    margin: auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 78px;
    height: 78px;
    .fa {
      font-size: 64px;
    }
  }
}

.ui-datatable-data td {
  word-wrap: break-word;
}

.ui-autocomplete {
  width: 100%;
  &>.ui-inputtext {
    width: calc(100% - 32px);
    height: 36.06px;
  }
  .ui-autocomplete-dropdown.ui-button {
    height: 36.06px;
  }
}

.ui-datatable thead th, .ui-datatable tfoot td{
  text-align: left;
  font-size: 14px;
  height: 58px;
  color: #363845;
}

body .ui-datatable .ui-datatable-thead > tr > th, 
body .ui-datatable .ui-datatable-tfoot > tr > td{
  padding: 0px!important; 
  padding-left: 18px!important;
}

.ui-datatable .ui-datatable-thead>tr>th, 
.ui-datatable .ui-datatable-tfoot>tr>td, 
.ui-datatable .ui-datatable-data>tr>td {
  border: 1px solid #dddddd !important;
  padding-left: 18px!important;
}

body .ui-datatable .ui-datatable-data > tr > td {
  background-color: #ffffff;
}

body .ui-datatable .ui-datatable-thead > tr > th, 
body .ui-datatable .ui-datatable-tfoot > tr > td {
  border: 1px solid #dddddd !important;
  background-color: #f8f8f8;
}

body .ui-datatable thead th.ui-state-active {
    background-color: #0275d8;
    border-color: #0267bf;
    color: #ffffff;
}

.ui-datatable .ui-sortable-column-icon {
  float: right;
  margin-right: 13px;
}

body .ui-datatable .ui-datatable-thead>tr>th.col-operations {
  text-align: center;
  padding-left: 0px!important;
}

.button-style { 
  width: 83px!important;
  border-radius: 3px!important;
  text-align: center;
}

.ui-datatable table{
  table-layout: initial!important;
}
table td[class*="col-"], table th[class*="col-"]  {
  width: 15%;
}

.mda-form-group {
  padding: 0 0 16px 0;
}

.m-top-4 {
  margin-top: 4px;
}

.m-top-8 {
  margin-top: 8px;
}

.m-top-16 {
  margin-top: 16px;
}

.m-top-24 {
  margin-top: 24px;
}

.m-bottom-4 {
  margin-bottom: 4px;
}

.m-bottom-8 {
  margin-bottom: 8px;
}

.m-bottom-16 {
  margin-bottom: 16px;
}

.m-bottom-24 {
  margin-bottom: 24px;
}

.ui-cell-data {
  font-size: 14px;
}

.ui-datatable thead th, .ui-datatable tfoot td {
  height: 50px;
}

.button-style, body .ui-widget button {
  padding: 6px 8px;
  font-size: 14px !important;
}