.logo{
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
}

.signMeUp{
    padding: 0;
    margin-bottom: 10px;
}

.validationText{
    color: red;
}

.errorMessage{
    color: red;
    margin-top: 10px;
    min-height: 20px;
}